includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        - '#Negated boolean expression is always false\.#'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php